:root {
  --custom-bg: #3da4ab; 
  --custom-dark :#555555;
}

body {
/*font-family: 'PT Sans', sans-serif;*/
/*font-family: 'Comfortaa', cursive;*/
font-family: 'Josefin Sans', sans-serif;
}
.custom-bg {
  background-color: var(--custom-bg);
}
.custom-dark {
  background-color: var(--custom-dark);
}
.custom-dark-txt {
  color: var(--custom-dark);
}
.custom-txt {
  color: var(--custom-bg);
}
.homebanner-wrapper {
  background-image: url('/church-template/template5/background-img.png');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}
#mainnav li a {
  color: #fff;
}
.active-btn {
  font-weight: 600;
}
#mainnav li:hover:after, #mainnav li.active-btn:after  {
  border-bottom: 1px solid #fff;
  color: #fff;
  opacity: 1;
}
#mainnav li:after {
  content: '';
  position: absolute;
  border: 1px solid #fff;
  width: 15px;
  bottom: 0;
  opacity: 0;
   transition: all 0.9s;
}
#mainnav li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*gallery css start*/
.gallery{
  display: flex;
}

.column{
  display: block;
  margin-right: .5vw;
  width: 100%;
}

.item{
  overflow: hidden;
  position: relative;
  margin-bottom: .5vw;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 1%;
}

.imginfo{
  opacity: 0;
  bottom: -.78vw;
  left: .6vw;

  padding: .35vw;
  color: black;
  position: absolute;
  font-size: .65vw;
/*  font-family: "Quicksand";*/
  transition: .2s;
  background-color: white;
}

.imglink:hover + .imginfo, .imginfo:hover{
  opacity: 1;
    bottom: .78vw;
}

.imgdesc{
  font-size: .58vw;
  color: dimgray;
  display: block;
}

.img{
  display: block;
  position: relative;
  transition: .2s;
  width: 100%;
  height: 100%;
}
/*gallery css end*/
@media(max-width: 560px) {
  .homebanner-wrapper {
    height: 300px;
  }
}



